{% load i18n %}
{% load generic_tags %}
<html>
    <head>
        <link rel="stylesheet" href="{{ STATIC_URL }}base/base.css">
        <link href='http://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="top-bar">
            <div class="constraint">
                <a class="header-bold" href='/dashboard/'>{%  trans "Darkserver Dashboard" %}</a>
            </div>
        </div>

        <div class="container constraint">
            <div class="darkproducer-status status-box top-margin">
                <div class="status-header">
                    {% trans "Darkserver Producer" %}
                </div>
                {% for darkproducer_instance in darkproducer_instances %}
                    <div class="status-body">
                        <div class="darkproducer-arch status-text padding float-left">
                            {{ darkproducer_instance|dictionary:"arch" }}
                        </div>
                        {% if darkproducer_instance|dictionary:"status" %}
                            <div class="float-left status-good"></div>
                        {% else %}
                            <div class="float-left status-bad"></div>
                        {% endif %}
                        <div class="float-right remarks">
                            {% trans 'Build Id: {{ darkproducer_instance|dictionary:"remarks" }}' %}
                        </div>
                        <div class="clear"></div>
                    </div>
                {% endfor %}
            </div>
            <div class="darkproducer-status status-box top-margin">
                <div class="status-header">
                    {% trans "Darkserver Build Queue" %}
                </div>
                <div class="status-body">
                    <div class="darkproducer-arch status-text padding float-left">
                        {% trans "Darkserver Build Queue" %}
                    </div>
                    {% if darkbuildqueue_status %}
                        <div class="float-left status-good"></div>
                    {% else %}
                        <div class="float-left status-good"></div>
                    {% endif %}
                    <div class="float-right remarks"></div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="darkproducer-status status-box top-margin">
                <div class="status-header">
                    {% trans "Darkserver Job Worker" %}
                </div>
                {% for darkjobworker in darkjobworkers %}
                <div class="status-body">
                    <div class="darkproducer-arch status-text padding float-left">
                        {{ darkjobworker|dictionary:"id" }}
                    </div>
                    <div class="float-left status-good"></div>
                    <div class="float-right remarks">
                        {{ darkjobworker|dictionary:"remarks" }}
                    </div>
                    <div class="clear"></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
